<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.roxgps.permission.BIND_LOKALISASI_SERVICE"
        android:label="Bind Service"
        android:description="Allows binding to the pek location service provided by RoxGPS app."
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roxgps"
        tools:targetApi="34">

        <activity
            android:name=".ui.ActivitySettings"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.MapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.JoystickService"
            android:exported="false" />

        <service
            android:name=".service.RoxGpsAidlService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.roxgps.permission.BIND_LOKALISASI_SERVICE">
            <intent-filter>
                <action android:name="com.roxgps.ipc.IRoxGpsService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJHl2fdyya0PuEY-LRFUZM71pijfZN6IE" />
        <meta-data
            android:name="com.maplibre.AccessToken"
            android:value="pk.eyJ1IjoiZGVsdGFjaat;" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>