name: Generate APK

env:
  main_project_module: app
  target_owner: ${{ github.repository_owner }}
  target_repo: ${{ github.repository }}
  target_path: ${{ github.workspace }}

on:
  push:
    branches:
      - 'release/**'
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Extract version from build.gradle
        id: version
        run: |
          # Ambil versionName dari build.gradle
          VERSION_NAME=$(grep -m 1 versionName ${{ env.main_project_module }}/build.gradle | sed 's/.*versionName[[:space:]]*["'\'']\([^"'\'']*\)["'\''].*$/\1/')
          echo "version=$VERSION_NAME" >> $GITHUB_ENV
          echo "VERSION=$VERSION_NAME"

      - name: Set ENV
        run: |
          echo "date_today=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          echo "repository_name=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV

      - name: Use JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Build APK
        shell: bash
        env:
          FS_KEYSTORE_FILE: ${{ secrets.STORE }}
          FS_KEY_PROPERTIES_FILE: ${{ secrets.LOCAL }}
        run: |
          mkdir secrets-base64
          echo "$FS_KEY_PROPERTIES_FILE" > secrets-base64/key.properties.base64
          echo "$FS_KEYSTORE_FILE" > secrets-base64/upload-keystore.jks.base64
          base64 --decode secrets-base64/upload-keystore.jks.base64 > ${{ env.target_path }}/app/upload.jks
          base64 --decode secrets-base64/key.properties.base64 > ${{ env.target_path }}/local.properties
          chmod +x ./gradlew
          ./gradlew assembleRelease --stacktrace
          rm ${{ env.target_path }}/app/upload.jks local.properties

      - name: Upload APKs (as artifacts)
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.repository_name }}-${{ env.date_today }}
          path: |
            ${{ env.main_project_module }}/build/outputs/apk/foss/release/*.apk
            ${{ env.main_project_module }}/build/outputs/apk/full/release/*.apk

      - name: Publish (GitHub Release)
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: v${{ env.version }}
          tag_name: v${{ env.version }}
          files: |
            ${{ env.main_project_module }}/build/outputs/apk/foss/release/app-foss-arm64-v8a-release.apk
            ${{ env.main_project_module }}/build/outputs/apk/full/release/app-full-arm64-v8a-release.apk